node_modules/
.vscode/
server/dist
server/
coverage
.nyc_output
server/config/default.json
server/config/development.json
.env
.babelrc
.codeclimate.yml
.coveralls.yml
.env.sample
.eslintignore
.travis.yml
.hound.eslintrc
yarn.lock
.eslintrc
.nycrc